<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #1 - Use a loop to display job results in a table. -->
    <table th:each="job : ${jobs}" class="job-listing">
        <tr><td>ID <td th:text="${job.id}"></td></td></tr>
        <tr><td>Name <td th:text="${job.name}"></td></td></tr>
        <tr><td>Employer <td th:text="${job.employer}"></td></td></tr>
        <tr><td>Location <td th:text="${job.location}"></td></td></tr>
        <tr><td>Position Type <td th:text="${job.positionType}"></td></td></tr>
        <tr><td>Skill <td th:text="${job.coreCompetency}"></td></td></tr>
    </table>


</div>

</body>
</html>